@charset "utf-8";

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}


/* .container .judge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .btn {
  font-size: 18px;
  padding: .5em 2em;
  margin: .5em 0;
  background-color: rgb(76, 180, 180);
  border-radius: 5px;
  transition: 2s ease;
}

.btn:hover {
  opacity: .8;
}

.container .txt {
  text-align: center;
  margin-top: 10px;
  line-height: 2;
} */

/* .passed {
  font-size: 24px;
  color: #e74c3c;
}

.button {
  background: #fcfcfa;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 7px #3338;
  font-size: 18px;
  padding: 8px 16px;
} */
/* 
.error {
  color: #e74c3c;
} */
/* 
a {
  text-decoration: none;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0;
  background: #eee;;
}

.menu-item {
  padding: 8px;
  padding-left: 3em;
  font-size: 18px;
  list-style: none;
}

.menu-item a {
  color: #111;
}

.menu-item a:hover {
  border-bottom: 1px solid #111;
} */

/* ハンバーガーメニュー */
.btn-humburger {
  width: 56px;
  height: 56px;
  background: transparent;
  position: relative;
}

.btn-humburger > div {
  position: absolute;
  width: 56px;
  height: 3px;
  transition: all 0.2s;
  background-color: #000;
}

.btn-humburger > div:first-child {
  top: 15px;
  left: 0;
}

.btn-humburger > div:last-child {
  bottom: 15px;
  left: 0;
}

.btn-humburger.is-active > div:first-child {
  -webkit-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}

.btn-humburger.is-active > div:last-child {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

